@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;

  color: #f8fafc;
  background-color: #0f172a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-right {
    right: calc((100dvw - 1200px) / 2);
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%); /* 화면 오른쪽 밖에서 시작 */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* 원래 위치로 */
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease forwards; /* 애니메이션 적용 */
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
